django
djangorestframework
celery
django-celery-beat
redis

numpy
pandas
scipy
scikit-learn

# PyTorch CPU ONLY
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.0+cpu
torchvision==0.17.0+cpu

spectral
opencv-python-headless
pillow

# Explainable AI (اختر واحد فقط)
captum

matplotlib
plotly

django-storages
gunicorn
whitenoise

# optional (إذا تحتاجه فعلاً)
grad-cam
